

<div class="col-sm-10 all_device" style="width: 100%">
            <div style="margin-left:90px;" class="form-horizontal personU_theRight">     
              <iframe  frameborder="0" border=0 scrolling="no" marginwidth="0" marginheight="0"  style="height: 800px; width: 100%" src="/dashboard" ></iframe >           
            </div>
        </div>

<script src="../js/device/gps.js"></script>

<script type="text/javascript">

</script>
