html,body{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,ul,li,ol,dt,dd{margin:0;padding:0;}
a{color:#333;}
.col-min{float:left;width:236px;}
.col-main{margin-left:236px;border-left:1px solid #6F7E93;background:#f4f4f4;}

.mod-nav h3{font-size:12px;font-weight:normal; }
.mod-nav ul{padding:0 16px 0 13px;background:#ecf7fc;}
.mod-nav li{padding:10px 0 10px 20px;list-style:none;}
.mod-nav li.first{border-top:none;}
.mod-nav li.end{border-bottom:none;}
.mod-nav li.on{font-weight:bold;color:#313332;}
.mod-nav li a{color:#333333;text-decoration:none;}
.mod-nav li a:hover{text-decoration:underline;}

.com-titlebar{background:#F7F7F7;padding:7px 0 7px 7px;}
.com-titlebar h3{padding:3px 0 3px 29px;background:url(../img/icons.gif) no-repeat 0 0;font-size:12px;font-weight:normal;}
.close .com-titlebar h3{background-position:0 -30px;}

.mod-maincontent{border:1px solid #A3B4C8;background:#fff;}
.mod-maincontent .hd h2{font-weight:bold;font-size:12px;}

.nodata{padding:30px 30px 50px;text-align:center;}
#bd{zoom:1;}
