<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fence_todevice.name %>
</p>

<%= link_to 'Edit', edit_fence_todevice_path(@fence_todevice) %> |
<%= link_to 'Back', fence_todevices_path %>
