

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script src="/js/map/language01-zh-cn.js" type="text/javascript"></script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1"><title>
	Map
</title><link rel="stylesheet" type="text/css" href="/css/map/dialog.css" /><link rel="stylesheet" type="text/css" href="/css/map/global.css" /><link rel="stylesheet" type="text/css" href="/css/map/monitor.css" />    
    <script src="/js/map/Valid.js" type="text/javascript"></script>
    <script src="/js/map/jquery-1.6.min.js" type="text/javascript"></script>
    <script src="/js/map/jquery.easydrag.js" type="text/javascript"></script>
    <script src="/js/map/PublicMap.js" type="text/javascript"></script>
    <script src="/js/map/PublicJS.js" type="text/javascript"></script>
    <script src="/js/map/Map.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/css/map/zTreeStyle.css" type="text/css" />
	<script type="text/javascript" src="/js/map/jquery.ztree.core-3.1.min.js"></script>
<style>
	.divDeviceTab{background-color:#EFEFEF; border:1px #A3D1E2 solid;}
    .showitems
    {
        position:absolute; left:40px; top:35px; width:auto; height:auto; background-color:White; display:none; font-size:12px;z-index:10000;border:1px #C8C8C8 solid;
    }	
    input.txt{border:1px solid #cfcfcf;height:24px;line-height:24px;display:inline-block;padding:0 6px;}	
</style>
</head>
<body>
    <form method="post" action="map.aspx?id=2&amp;n=888&amp;p=AMG2LE50401" id="form1">
<div class="aspNetHidden">
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUKMTMyNjY4NzkwMA9kFgICAQ9kFgYCAQ8WAh4Fc3R5bGUFmgFib3JkZXI6MXB4ICMxZjhjY2Mgc29saWQ7d2lkdGg6MjUwcHg7ei1pbmRleDo5OTk5OTk7aGVpZ2h0OjMwMHB4O3Bvc2l0aW9uOmFic29sdXRlO2JhY2tncm91bmQtY29sb3I6I0ZGRkZGRjtkaXNwbGF5Om5vbmU7bWFyZ2luLXRvcDoxMDBweDtvdmVyZmxvdzpoaWRkZW47ZAIDDxYCHwAFqQF3aWR0aDoyMnB4O3Bvc2l0aW9uOmFic29sdXRlO3otaW5kZXg6OTk5OTtmb250LXdlaWdodDpib2xkO2hlaWdodDo5MHB4O2NvbG9yOldoaXRlO2JhY2tncm91bmQtY29sb3I6IzFmOGNjYztkaXNwbGF5OmJsb2NrO21hcmdpbi10b3A6MTUwcHg7Zm9udC1zaXplOjE0cHg7Y3Vyc29yOnBvaW50ZXI7ZAIHD2QWAgIBDxYCHgNzcmMFFmltYWdlcy9ncm91cF8wM19jbi5qcGdkZOrR0zTEJOaVS34rrFICubEBASObpma1G6jaUAGRdbTr" />
</div>

<div class="aspNetHidden">

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="B2654881" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEdAAsr8agwS/OlEQfXF8lj8H5rAkapnbugCu93Z8NbFOydjlTjm4DQKw5nbwtbsFbWp0I0wXpfLhKXeh+uGGXI/7OWVggpvtCfkURCcwcMBsRBFhGDTy4obJKGYZKy7pkwBosy4dMXRHxBq47l2DHgd8ozwsYQpfr+0vh5mICgP8EIOoVjN42Z8J5kQnIA4P34tX2UrLulE1MftRpgG8G9cXEozDW0q90TjopYBysIIibfgKTRyPq34G8xLzVevd90RYL0bGC0ut0SxE9hgtuPRFwX" />
</div>     
    <span id="spanMapPopupContentSize" style="display:none;"></span>


<!-- 用户树 -->
<div id="divUserTree" style="border:1px #1f8ccc solid;width:250px;z-index:999999;height:300px;position:absolute;background-color:#FFFFFF;display:none;margin-top:100px;overflow:hidden;">
    <div style="font-weight:bold; background:#1f8ccc;  color:White; height:25px;">
        <table  width="100%">
            <tr>
                <td align="left"><script type="text/javascript">
                                     writePage(yiwen201409.userList);
                            </script></td>
                <td align="right">
                    <img src="/img/map/iw_min.gif" border="0" onclick="$('#divUserTree').hide();$('#divUserTreeMenu').show();" style="cursor:pointer;" />
                </td>
            </tr>
        </table>
    </div>
    <div style="overflow-y:auto; width:250px; height:270px;">
        <ul id="uiTreeView" class="ztree"></ul>
    </div>
</div>

<div id="divUserTreeMenu" onclick="$(&#39;#divUserTreeMenu&#39;).hide();$(&#39;#divUserTree&#39;).show();" style="width:22px;position:absolute;z-index:9999;font-weight:bold;height:90px;color:White;background-color:#1f8ccc;display:block;margin-top:150px;font-size:14px;cursor:pointer;">
<script type="text/javascript">
    writePage(yiwen201409.userList);
                            </script>
</div>


<div id="divSetSqPhone" class="gm_dialog" style="width:310px; height:210px; margin-top:80px; ">

         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span5">设置授权号码</span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divSetSqPhone');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanSQDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right">请选择：</td>
                <td><select name="selSetPhoneNo" id="selSetPhoneNo">
                        <option value="1">第1组</option>
                        <option value="2">第2组</option>
                        <option value="3">第3组</option>
                        <option value="4">第4组</option>
                        <option value="5">第5组</option>
                      </select></td>
              </tr>
              <tr>
                <td align="right">授权号码：</td>
                <td><input autocomplete="off" type="text" id="txtSQPhone" class="txt"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="btnSendSq"  type="button" onclick="sendCmdPhone(4);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseSendSq" onclick="closeDiv('divSetSqPhone')"></a>                    
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgSQ"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>


<div id="divSetDevice2SMS" class="gm_dialog" style="width:310px; height:210px; margin-top:80px; ">

         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span6">设备发送短信</span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divSetDevice2SMS');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanD2SMSDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right">请选择：</td>
                <td><select name="selD2SMSType" id="selD2SMSType">
                        <option value="0">发送设备号码</option>
                        <option value="1">发送当前位置</option>
                      </select></td>
              </tr>
              <tr>
                <td align="right">接收手机：</td>
                <td><input autocomplete="off" type="text" id="txtDevice2SMSUserPhone" class="txt"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="btnSendD2SMS"  type="button" onclick="sendCmdPhone(5);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseSendD2SMS" onclick="closeDiv('divSetDevice2SMS')"></a>                    
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgD2SMS"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>


    <div class="gm_dialog" id="divDeviceSet" style="width:510px; height:300px; margin-top:80px;">
        <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><label id="Label1">终端远程设置</label></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divDeviceSet');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right" style="width:80px;">
                    <script type="text/javascript">
                        writePage(allPage.device)
                    </script>
                ：</td>
                <td><span id="spanDeviceSetName"></span></td>
              </tr>
  
              <tr>
                <td align="right">
                    <script type="text/javascript">
                        writePage(allPage.password)
                    </script>                
                ：</td>
                <td><input autocomplete="off" type="password" id="txtInputpassword1" class="txt"/></td>
              </tr>
                <tr>
	                <td colspan="2" style="padding-left:25px">
                            <script type="text/javascript">
                                writePage(mapPage.sendConfirm);
                            </script>    
                            <span id="span8"></span>
                            <script type="text/javascript">
                                writePage(loginPage.password)
                            </script>  
                    </td>
	            </tr>
              <tr>
                <td align="right">上传频率：</td>
                <td>
                    <input type="text" id="txtC1" class="txt" value="86400" />&nbsp;秒&nbsp;&nbsp;
                    <input type="checkbox" id="txtIsC1"  checked="checked" />是否开启
                </td>
              </tr>

               <tr>
                <td align="right">定位模式：</td>
                    <td>
                        <select name="select" id="txtC2" style="width:160px; height:26px; border-color:#cfcfcf; margin-right:25px;">
                            <option value="1" selected="selected">GPS+基站定位</option>
                            <option value="2">基站定位</option>
                        </select><input type="checkbox" id="txtIsC2" checked="checked" />是否开启
                    </td>
              </tr>
               <tr>
                <td align="right">采集频率：</td>
                <td>
                    <input type="text" id="txtC3" class="txt" value="0" />&nbsp;秒&nbsp;&nbsp;
                    <input type="checkbox" id="txtIsC3" />是否开启
                </td>
              </tr>
               <tr>
                <td align="right">退出时间：</td>
                <td>
                    <input type="text" id="txtC4" class="txt" value="0"/>&nbsp;秒&nbsp;&nbsp;
                    <input type="checkbox" id="txtIsC4" />是否开启
                </td>
              </tr>
               <tr>
                <td align="right">定点时间：</td>
                <td>
                    <input type="text" id="txtC5" class="txt" style="width:42px;" value="0" />&nbsp;小时&nbsp;&nbsp;
                    <input type="text" id="txtC6" class="txt" style="width:43px;" value="0" />&nbsp;分钟&nbsp;&nbsp;
                    <input type="checkbox" id="txtIsC5" />是否开启
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                 <button id="btnDeviceSet"  type="button" onclick="sendCmdInfo();" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseDeviceSet" onclick="closeDiv('divDeviceSet')"></a>                    
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="span10"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>

    <div id="divSOSPhone" class="gm_dialog" style="width:310px; height:180px; margin-top:80px; ">

         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span1">设置SOS号码</span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divSOSPhone');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanSOSDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right">SOS号码：</td>
                <td><input autocomplete="off" type="text" id="txtSOSPhone" class="txt"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="btnSendSOSPhone"  type="button" onclick="sendCmdPhone(0);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseSOSPhone" onclick="closeDiv('divSOSPhone')"></a>                    
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgSOS"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>

    <div id="divInterval" class="gm_dialog" style="width:310px; height:180px; margin-top:80px;">
         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span2"><script type="text/javascript">
	                                                          writePage(yiwen201312.msg1)
                            </script> </span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divInterval');"><img src="images/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanIntervalDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right"><script type="text/javascript">
                                      writePage(yiwen201312.uploadInterval)
                            </script>：</td>
                <td><input autocomplete="off" type="text" id="txtSetInterval" class="txt" style="width:50px;" maxlength="4" />(<script type="text/javascript">
                                                                                                                                   writePage('单位秒,最小10秒')
                            </script>)</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="btnInterval"  type="button" onclick="sendCmdPhone(2);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseInterval" onclick="closeDiv('divInterval')"></a>                      
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgInterval"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>

        <div id="divInitDistance" class="gm_dialog" style="width:310px; height:180px; margin-top:80px;">
         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span7"><script type="text/javascript">
	                                                          writePage('初始里程')
                            </script> </span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divInitDistance');"><img src="images/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanDistanceDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right"><script type="text/javascript">
                                      writePage('设置里程数:')
                            </script>：</td>
                <td><input autocomplete="off" type="text" id="txtInitDistance" class="txt" style="width:50px;" maxlength="8" />(<script type="text/javascript">
                                                                                                                          writePage('单位公里')
                            </script>)</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="btnSendDistance"  type="button" onclick="sendCmdPhone(6);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseSendDistance" onclick="closeDiv('divInitDistance')"></a>                      
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgDistance"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>

    <div id="divSendTxt" class="gm_dialog" style="width:310px; height:180px; margin-top:80px;">
         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span3">给设备下发文字信息</span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divSendTxt');"><img src="images/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanSendTxtDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right">文字内容：</td>
                <td>
                <textarea id="txtSendTxtContent" class="txt"></textarea>
                </td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="btnSendTxt"  type="button" onclick="sendCmdPhone(3);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseSendTxt" onclick="closeDiv('divSendTxt')"></a>                    
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgTxt"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>

    <div id="divCellPhone" class="gm_dialog"  style="width:310px; height:260px; margin-top:80px;">

         <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="span4">设置亲情号码</span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divCellPhone');"><img src="images/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanCellPhoneDeviceName"></span></td>
              </tr>
              <tr>
                <td align="right">亲情号码1：</td>
                <td><input autocomplete="off" type="text" id="txtCellPhone1" class="txt"/></td>
              </tr>
              <tr>
                <td align="right">亲情号码2：</td>
                <td><input autocomplete="off" type="text" id="txtCellPhone2" class="txt"/></td>
              </tr>
              <tr>
                <td align="right">亲情号码3：</td>
                <td><input autocomplete="off" type="text" id="txtCellPhone3" class="txt"/></td>
              </tr>
              <tr style="">
                <td align="right">亲情号码4：</td>
                <td><input autocomplete="off" type="text" id="txtCellPhone4" class="txt"/></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><button id="btnCellPhone"  type="button" onclick="sendCmdPhone(1);" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="btnCloseCellPhone" onclick="closeDiv('divCellPhone')"></a>                    
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsgCellPhone"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>



    <div id="divMenuLeftImg" onclick="showHideLeft();" onmouseover="overMenuLeft();" onmouseout="outMenuLeft();" style="position:absolute; width:11px; height:53px; cursor:pointer; background-image:url(images/mini-left.gif);background-position:33px; left:260px; z-index:9999; top:165px;"></div>
	<div id="divDevicesList" style="border:1px #3873c9 solid; display:block; width:260px;  position:absolute; z-index:9999; margin-left:0px;">
		<div id="divDevicesListHead" style="background-color:#1f8ccc;margin: 1px; height:22px; color:White;">
			<table width="100%" border="0">
			  <tr>
				<td>
					<b>
                            <script type="text/javascript">
                                writePage(mapPage.deviceDetailList);
                            </script>                     
                    </b> 
				</td>
				<td width="30">
					<img src="/img/map/iw_min.gif" border="0" onclick="showDevicesListDiv(0);" style="cursor:pointer;" />
					<img src="/img/map/iw_max.gif" border="0" onclick="showDevicesListDiv(1);" style="cursor:pointer;"/>
				</td>
			  </tr>
			</table>
		
		</div>
		<div id="divDevicesListInfo" style="height:225px; margin: 1px; background-color:White;  overflow-y:auto; display:none;">

		</div>
		
	</div>




    <div class="gm_dialog" id="divCommandList" style="width:800px; height:420px; margin-top:10px;overflow:auto;">
        <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><label id="lbldivCommandListTitle"></label></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divCommandList');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div id="divCommandListTable" style="margin-top:10px;">

        </div>
    </div>

    <div class="gm_dialog" id="divIframe" style="width:552px; left:30%; height:368px; top:10px;">
        <div id="divIframeTitle" class="gm_dialog_head">
	        <div class="gm_dialog_title"><span id="spanIframeTitle"></span></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divIframe');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div>
            <iframe frameborder="0" id="ifmPage" src="" width="550"></iframe>
		</div>
	</div>  

    <div class="gm_dialog" id="divInputPass" style="width:310px; height:220px; margin-top:80px;">
        <div class="gm_dialog_head">
	        <div class="gm_dialog_title"><label id="lblInputPassTitle"></label></div>
	        <div class="gm_dialog_func">			
		        <a class="gm_dialog_close" href="javascript:closeDiv('divInputPass');"><img src="/img/map/iw_close.gif"></a>	</div>
        </div>
		<div style="margin-top:10px;">
            <table class="cust_update">
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.device)
                            </script>                 
                ：</td>
                <td><span id="spanPassDeviceName"></span></td>
              </tr>
  
              <tr>
                <td align="right">
                            <script type="text/javascript">
                                writePage(allPage.password)
                            </script>                
                ：</td>
                <td><input autocomplete="off" type="password" id="txtInputpassword" class="txt"/></td>
              </tr>
  
	              <tr>
	                <td colspan="2" style="padding-left:25px">
                            <script type="text/javascript">
                                writePage(mapPage.sendConfirm);
                            </script>    
                            <span id="spanUserName"></span>
                            <script type="text/javascript">
                                writePage(loginPage.password)
                            </script>  
                    </td>
	              </tr>
  
              <tr>
                <td>&nbsp;</td>
                <td>
                <button id="sendBtn"  type="button" onclick="sendCmdInfo();" style="background-color:#1f8ccc;cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;"></button>
					&nbsp;<a href="javascript:void(0);" style="color:Black;" id="closeBtn" onclick="closeDiv('divInputPass')"></a>
                    </td>
  	  
              </tr>
	          <tr>
	                <td colspan="2" style="padding-left:25px">
                        <span id="spanSendMsg"></span>
                    </td>
	          </tr>
            </table>
		</div>
	</div>

    <div id="divLeftMenu" style="position:absolute; line-height:1.0; width:95px; height:auto; background-color:White; display:none; font-size:12px;z-index:9999;border:1px #C8C8C8 solid;">            
            <div id="divLeftMenuContext" style="font-size:11px;"></div>
    </div>

		<div id="divLeft" style="width:265px; display:block; position:absolute;">
				<div class="mod-prolist">
					<!-- 过滤按钮 -->
					<div class="navigate" id="myNavigate" style="">
                        <table width="100%" height="100%" cellpadding="0" cellpadding="0" border="0" style=" font-weight:bold; background:#1f8ccc;  color:White;">
                            <tr >
                                <td style="cursor:pointer;" onclick="showDeviceList('aAll');"><script type="text/javascript">
                                        writePage(allPage.all);
                                </script>(<span id="spanDevicesAll"></span>)</td>
                                <td style="cursor:pointer;" onclick="showDeviceList('aOnline');">
                                    <script type="text/javascript">
                                        writePage(allPage.online);
                            </script>(<span id="spanDevicesOnline"></span>)
                                </td>
                                <td style="cursor:pointer;" onclick="showDeviceList('aOffline');">
                                    <script type="text/javascript">
                                        writePage(allPage.offline);
                                    </script>(<span id="spanDevicesOffline"></span>)
                                </td>
                            </tr>
                        </table>
					</div>
					<!-- 设备搜索： -->
					<div id="divDeviceSearch" style="margin-top:2px;">
                        <input type="text" id="txtSearchInput" value="" onfocus="$('#txtSearchInput').val('');$('#txtSearchInput').css('color','black');"  style="width:150px; height:20px; color:rgb(190,190,190);" />
                        <input type="button" id="btnSearch"  value="" onclick="searchDevices();" style="background-color:#1f8ccc; cursor:pointer; font-weight:bold; width:60px; height:23px; border:0px; color:White;" />
                    </div>
			
					<!--添加组按钮-->
					<div id="divAddGroup" class="addGroupBtn" style="position:relative;top:4px;clear:left;">
					    <a onclick="clkInputGroup(0);"; href="javascript:;">
					        <img src="/img/map/group_03_cn.jpg" id="imgGroup" width="56" height="17" class="addGroup" border="0" />
                        </a>
					</div>
                       <div id="divInputGroup" style="display:none; clear:left; margin-left:5px; font-size:12px;">
                            <input id="txtGroupName" type="text"  width="120"  />
                            <input id="btnAddGroup" value="" type="button" onclick="saveGroup();" />&nbsp;
                            <a href="javascript:void(0);" onclick="clkInputGroup(1);"><script type="text/javascript">
                                                                                          writePage(allPage.cancel);
                            </script></a>
                        </div>
					<!--列表容器-->
					<div style="padding:3px;">
						<div id="divDevicesTable" class="listcvs" style="height:150px; overflow:auto;">
						</div>
					</div>
				</div>

		</div>		
        <div style="position:absolute; margin-left:267px;" id="divMap">
            <iframe  frameborder="0" name="ifmMap" id="ifmMap" scrolling="no" style="overflow:hidden;"></iframe>
        </div>	


    <input name="hidUserID" type="hidden" id="hidUserID" value="2" />
    <input name="hidLoginName" type="hidden" id="hidLoginName" value="888" />
    <input name="hidUserName" type="hidden" id="hidUserName" value="体验用户" />
    <input name="hidStatus" type="hidden" id="hidStatus" value="0" />
    <input name="hidTimeZone" type="hidden" id="hidTimeZone" value="China Standard Time" />
    <input name="hidIframeSrc" type="hidden" id="hidIframeSrc" value="dmap?id=2&amp;n=888&amp;m=Baidu&amp;p=4NM7LM50401" />
    <input name="hidLanguage" type="hidden" id="hidLanguage" value="zh-cn" />
    <input name="hidLoginType" type="hidden" id="hidLoginType" value="1" />
    <input name="hidDeviceID" type="hidden" id="hidDeviceID" value="0" />
    <input name="hidDeviceName" type="hidden" id="hidDeviceName" />
    </form>


	<script type="text/javascript">

	    function ifmUpdateClose(id) {
	        $("#" + id).hide();
	        if (id == "divIframe") {
	            $("#ifmPage").attr("src", "");
	        }
	    }
		
	</script>

</body>
</html>
